    #newsletter {
      background: transparent url("../../images/newsletter.jpg") no-repeat center top fixed;
      background-size: cover;
    }

    #newsletter .overlay {
      background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.2) 95%);
      height: 100%;
      width: 100%;
      padding: 40px;
    }

    #newsletter .form-control {
      background-color: transparent;
      border: 1px solid #dddddd;
      border-radius: 0;
      color: #888;
      font-size: 11px;
      font-weight: 600;
      height: 50px;
      text-align: center;
      width: 70%;
      background: #fff;
    }
    
    @media (max-width: 575px) {
      #newsletter .form-control {
        margin-bottom: 30px;
        width: 100%;
      }
    }

    #newsletter .form-control:focus {
      border-color: #b2dfdb;
      box-shadow: none;
      outline: 0 none;
    }

    #newsletter .btn {
  background: #b2dfdb;
  border: 0;
  border-radius: 0;
  font-family: 'Satisfy';
  font-size: 20px;
}

@media (max-width: 575px) {
  #newsletter .btn {
    width: 100%;
  }
}

#newsletter .btn:hover {
  background:grey;
}
